.woo__custom-theme {

    #searchform {
        top: 0;
        right: 0;
        position: absolute;
    }

    .products-container {
        width: 100%;
        margin: 0 auto;
        max-width: 1240px;

        .products {
            @include flex-init;
            @include justify-content(space-between);
            @include flex-wrap;

            .product {
                position: relative;
                margin-bottom: 60px;
                @include flex(0 0 25%);

                a {
                    display: block;
                    color: #303030;
                    position: relative;

                    .hover-thumbnail {
                        top: 0;
                        width: 100%;
                        opacity: 0;
                        height: 100%;
                        position: absolute;
                        pointer-events: none;
                        @include trans(opacity .45s $easeOutCubic);

                        img {
                            width: 100%;
                            height: 100%;
                            max-width: 300px;
                            max-height: 420px;
                            object-fit: cover;
                        }
                    }

                    &:hover {
                        .hover-thumbnail {
                            opacity: 1;
                        }
                    }
                }

                .price {
                    del {
                        margin-right: 10px;
                    }

                    ins {
                        text-decoration: none;
                    }
                }

                .onsale {
                    display: none;
                }

                .add_to_cart_button {
                    top: 20px;
                    left: 20px;
                    opacity: 0;
                    height: 45px;
                    color: #FFF;
                    font-size: 11px;
                    position: absolute;
                    text-transform: uppercase;
                    @include trans(all .45s $cubic-bazier);
                    mix-blend-mode: difference;
                }

                &:hover {
                    .add_to_cart_button {
                        opacity: 1;
                    }
                }

                .product_type_grouped {
                    display: none;
                }

                img {
                    margin-bottom: 15px;
                }

                h2 {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }

    .woocommerce-pagination {
        width: 100%;
        margin: 50px auto;
        max-width: $max-with-container;

        ul {
            @include flex-init;

            li {
                width: 40px;
                height: 40px;
                @include flex-init;
                background-color: #e5eef2;
                @include align-items(center);
                @include justify-content(center);

                * {
                    width: 40px;
                    height: 40px;
                    @include flex-init;
                    @include align-items(center);
                    @include justify-content(center);

                    &.current {
                        color: #b8b8b8;
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}