.woo__custom-theme {

    .woocommerce-breadcrumb {
        color: $base-color;
        width: 100%;
        max-width: $max-with-container;
        margin: 0 auto 10px auto;

        a {
            color: #333;
        }
    }

    .woo__custom-single-product__container {
        & * {
            outline: none;
        }
        .woocommerce-product-gallery__wrapper {
            height: 80vh !important;
            overflow: hidden;

            .flickity-viewport {
                height: 80vh;

                .flickity-slider {
                    position: relative;
                    .woocommerce-product-gallery__image {
                        width: auto !important;
                        height: auto !important;

                        img {
                            width: auto;
                            height: 80vh;
                        }
                    }
                }
            }
        }
        .product-summary__container {
            width: 100%;
            margin: 0 auto 100px auto;
            padding-top: 50px;
            max-width: $max-with-content-container;

            .title-container {
                width: 100%;
                height: auto;
                margin-bottom: 40px;
            }

            .container__entry {
                width: 100%;
                font-size: 14px;
                @include flex-init;
                @include justify-content(space-between);

                .entry-summary {
                    @include flex(0 0 45%);
                    padding-left: 70px;

                    .price {
                        font-size: 16px;
                    }

                    form.cart {
                        @include flex-init;
                        margin-bottom: 20px;

                        input {
                            &.input-text {
                                width: 65px;
                                height: 40px;
                                text-align: center;
                                border: 1px solid $base-border-color-light;
                            }
                        }

                        button {
                            width: 100px;
                            color: #FFF;
                            height: 40px;
                            border: none;
                            text-align: center;
                            cursor: pointer;
                            background-color: $base-dark-color;
                        }

                        &.variations_form {
                            @include flex-direction(column);

                            .variations {
                                @include flex-init;
                                @include flex-wrap;

                                .variations__item {
                                    position: relative;
                                    @include flex(0 0 50%);
                                    padding: 15px 15px 15px 0;

                                    .button-custom__select {
                                        height: 45px;
                                        cursor: pointer;
                                        background-color: #ebecf3;
                                        @include flex-init;
                                        @include justify-content(center);
                                        @include align-items(center);
                                    }

                                    .custom__select-options {
                                        width: 280px;
                                        z-index: 9999;
                                        position: absolute;
                                        background-color: #FFFF;
                                        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.04);

                                        .__option {
                                            width: 100%;
                                            @include flex-init;
                                            @include align-items(center);
                                            border-bottom: 1px solid $base-border-color-super-light;

                                            &:last-child {
                                                border-bottom: none;
                                            }

                                            .thumb {
                                                width: 40px;
                                                height: 40px;
                                                @include flex(0 0 40px);
                                                background-size: cover;
                                                background-position: center;
                                                background-color: #F0F8FB;
                                            }

                                            .label {
                                                height: 40px;
                                                margin-bottom: 0;
                                                padding: 0 15px;
                                                @include flex-init;
                                                @include flex(1 auto);
                                                @include align-items(center);
                                            }
                                        }
                                    }

                                    .label {
                                        color: #222;
                                        font-size: 12px;
                                        margin-bottom: 5px;
                                    }

                                    select {
                                        display: none;
                                        border: none;
                                        width: 100%;
                                        height: 40px;
                                        outline: none;
                                        border-radius: 0 !important;
                                        cursor: pointer;
                                        background-color: #FFF;
                                        padding: 0 20px;
                                        @include trans(all .45s $easeOutCubic);

                                        /**
                                         * Reset border radius
                                         */
                                        -webkit-appearance: none;
                                        -webkit-border-radius: 0;

                                        &:hover {
                                            color: #FFF;
                                            background-color: $base-dark-color;
                                        }
                                    }

                                    .reset_variations {
                                        top: 15px;
                                        color: red;
                                        right: 15px;
                                        font-size: 11px;
                                        position: absolute;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            .woocommerce-variation-add-to-cart {
                                margin-top: 20px;
                                @include flex-init;
                            }
                        }
                    }
                }

                .woocommerce-tabs {
                    padding-right: 20px;
                    @include flex(1 auto);

                    .wc-tabs {
                        @include flex-init;
                        margin-bottom: 15px;

                        li {
                            padding-right: 30px;
                            position: relative;

                            &:after {
                                top: 0;
                                width: 1px;
                                right: 15px;
                                height: 100%;
                                content: '';
                                position: absolute;
                                background-color: #c3cbce;
                            }

                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }

                            &.active {
                                opacity: 0.3;
                                pointer-events: none;
                            }

                            a {
                                color: #333;
                            }
                        }
                    }
                }
            }
        }

        .related {
            width: 100%;
            background-color: #ebecf3;

            .related-product-title {
                width: 100%;
                padding: 40px 0;
                text-align: center;
            }

            ul {
                @include justify-content(center);
            }
        }
    }
}