<template>
    <div class="panda__featured-image"
         :style="{backgroundImage: `url(${getPath})`}">
        <div class="buttons-actions">
            <div class="panda__button button-remove ti-trash" @click="remove()">
            </div>
            <div class="panda__button button-edit ti-image" @click="change()">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "image-featured",
        props: {
            featured: {
                type: Object | String,
                default: null
            }
        },

        computed: {
            getPath() {

                if (!this.featured) return ''

                if (typeof this.featured === 'string') {
                    return this.featured
                }
                return this.featured.thumbnail || this.featured.medium
            }
        },

        methods: {
            remove() {
                this.$emit('remove', true)
            },

            change() {
                this.$emit('change', true)
            }
        }
    }
</script>

<style scoped>
</style>