<template>
    <div class="panda__text-input" v-if="getDetail">
        <label>{{getInputDetail.input.label}}</label>
        <input :name="renderInputModel()" v-model="createModelValue"/>
    </div>
</template>

<script>
    import {GlobalEditorMixin} from "./mixins/GlobalEditorMixin"

    export default {
        name: "text-input",

        mixins: [
            GlobalEditorMixin
        ]
    }
</script>

<style scoped>

</style>