<template>
    <div class="panda__textarea-input" v-if="getDetail">
        <label>{{getInputDetail.input.label}}</label>
        <textarea :name="renderInputModel()" v-model="createModelValue"></textarea>
    </div>
</template>

<script>
    import {GlobalEditorMixin} from "./mixins/GlobalEditorMixin"

    export default {
        name: "text-area-input",
        mixins: [
            GlobalEditorMixin
        ]
    }
</script>

<style scoped>

</style>