@import 'includes/rem';
@import 'includes/breakpoint';
@import 'includes/min-breakpoint';
@import 'includes/transitions';
@import 'includes/translate';
@import 'includes/vendor';
@import 'includes/transform';

@mixin flex-wrap() {
    flex-flow: row wrap;
}

@mixin transform($arguments) {
    -webkit-transform: $arguments;
    transform: $arguments;
}

@mixin scale($number) {
    @include transform(scale($number))
}

@mixin animation($argument) {
    -webkit-animation: $argument;
    animation: $argument;
}

@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin gradient($color1, $color2, $color3) {
    background: $color1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, $color2, $color3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, $color2, $color3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin soft-gradient($color1, $color2, $color3) {
    background: $color1;
    background: -moz-linear-gradient(45deg, $color1 0%, $color2 45%, $color3 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, $color1), color-stop(45%, $color2), color-stop(100%, $color3));
    background: -webkit-linear-gradient(45deg, $color1 0%, $color2 45%, $color3 100%);
    background: -o-linear-gradient(45deg, $color1 0%, $color2 45%, $color3 100%);
    background: -ms-linear-gradient(45deg, $color1 0%, $color2 45%, $color3 100%);
    background: linear-gradient(45deg, $color1 0%, $color2 45%, $color3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color3}', GradientType=1);
}

@mixin gradient-vertical($color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{'$color1'}, endColorstr=#{'$color1'}, GradientType=0);
}

@mixin gradient-alpha($from, $to, $color1, $color2) {
    background: $color1;
    background: -webkit-linear-gradient($from, $color1, $color2);
    background: -o-linear-gradient($to, $color1, $color2);
    background: -moz-linear-gradient($to, $color1, $color2);
    background: linear-gradient(to $to, $color1, $color2);
}

@mixin flex-grow($content) {
    flex-grow: $content;
    -webkit-flex-grow: $content;
    -moz-flex-grow: $content;
}

@mixin trans-timing($a) {
    transition-timing-function: $a;
    -webkit-transition-timing-function: $a;
    -moz-transition-timing-function: $a;
}

@mixin flex-init() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($data) {
    -webkit-box-flex-direction: $data;
    -moz-box-flex-direction: $data;
    -webkit-flex-direction: $data;
    -ms-flex-direction: $data;
    flex-direction: $data;
}

@mixin flex($flex) {
    -webkit-box-flex: $flex;
    -moz-box-flex: $flex;
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flex-basis($size) {
    flex-basis: $size;
    -webkit-flex-basis: $size;
}

@mixin align-items($content) {
    align-items: $content;
    -webkit-align-items: $content;
}

@mixin align-self($content) {
    align-self: $content;
    -webkit-align-self: $content;
}

@mixin justify-content($content) {
    justify-content: $content;
    -webkit-justify-content: $content;
}

@mixin flex-order($position) {
    -webkit-box-ordinal-group: $position;
    -moz-box-ordinal-group: $position;
    -ms-flex-order: $position;
    -webkit-order: $position;
}

@mixin all-zero() {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin transform($var) {
    -webkit-transform: $var;
    -moz-transform: $var;
    -ms-transform: $var;
    -o-transform: $var;
    transform: $var;
}

@mixin transform-origin($var,$var2) {
    -webkit-transform-origin: $var $var2;
    -moz-transform-origin: $var $var2;
    -ms-transform-origin: $var $var2;
    -o-transform-origin: $var $var2;
    transform-origin: $var $var2;
}

@mixin trans($type...) {
    -webkit-transition: $type;
    -moz-transition: $type;
    -ms-transition: $type;
    -o-transition: $type;
    transition: $type;
}

// Responsive Mixins
// Small devices
@mixin phones {
    @media (max-width: #{$phones}) {
        @content;
    }
}

// Medium devices
@mixin tab-portrait {
    @media (max-width: #{$tab-port}) {
        @content;
    }
}

// Large devices
@mixin tab-landscape {
    @media (max-width: #{$tab-land}) {
        @content;
    }
}

// Extra large devices
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

// Custom devices
@mixin custom($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

@mixin flatShadow($x : 0, $y : 10px, $spread: 30px, $color: rgba(0, 0, 0, 1)) {
    &:after {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: absolute;
        box-shadow: $x $y $spread $color;
        @content;
    }
}

@mixin flatShadowDirect($x : 0, $y : 10px, $spread: 30px, $color: rgba(0, 0, 0, 1)) {
    box-shadow: $x $y $spread $color;
}

@mixin vendor($property, $value) {
    -webkit-#{$property} : #{$value};
    -moz-#{$property} : #{$value};
    -o-#{$property} : #{$value};
    #{$property} : #{$value};
}