@import "../../assets/css/themify-icons/themify-icons";
@import "modules/mixins";
@import "admin/gallery";
@import "admin/imageEditor";
@import "admin/button";
@import "admin/editor";

[class*=dasha__] {
    @include vendor(box-sizing, border-box);
    margin: 0;
    padding: 0;

    *, *:after, *:before {
        @include vendor(box-sizing, border-box);
        margin: 0;
        padding: 0;

    }
}