@import "../../../libs/scss/modules/mixins";

.gallery-file-manager {
    margin-left: 10px;
}

.gallery-input-container {

    @include flex-init;
    @include flex-wrap;

    .gallery-input-item {
        height: 200px;
        padding: 10px;
        position: relative;
        @include flex(0 0 25%);

        .identical-data-container {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .button-action {
            opacity: 0;
        }

        &:hover {
            .button-action {
                opacity: 1;
            }
        }
    }
}