.gallery-file-manager {
  margin-left: 10px; }

.gallery-input-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap; }
  .gallery-input-container .gallery-input-item {
    height: 200px;
    padding: 10px;
    position: relative;
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; }
    .gallery-input-container .gallery-input-item .identical-data-container {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute; }
    .gallery-input-container .gallery-input-item .button-action {
      opacity: 0; }
    .gallery-input-container .gallery-input-item:hover .button-action {
      opacity: 1; }

/*# sourceMappingURL=gallery-dashboard-manager.css.map */
