@import "../../libs/scss/modules/mixins";
@import "../../libs/scss/modules/variables";

#publishing-action {
    right: 30px;
    bottom: 30px;
    width: 130px;
    height: 50px;
    z-index: 999;
    position: fixed;
    border-radius: 30px;
    background-color: #00a0d2;
    @include flatShadow(0, 10px, 15px, rgba(0, 0, 0, 0.25)) {
        border-radius: 30px;
    }
    @include flex-init;
    @include justify-content(center);
    @include align-items(center);
    @include trans(all .45s $cubic-bazier);

    &:hover {
        background-color: #21eeff;
    }

    .button {
        height: 100%;
        width: 100%;
        border: none;
        box-shadow: none;
        text-shadow: none !important;
        position: absolute;
        background-color: transparent;

        &.disabled {
            background-color: transparent !important;
        }
    }
}

.div-plugin-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.type-image-background {
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 2;
    bottom: 10px;
    position: absolute;
    background-color: #F0F0EE;
    background-size: cover;

    .button-action {
        color: #FFF;
        top: 10px;
        right: 10px;
        width: 100px;
        height: 40px;
        font-size: 11px;
        cursor: pointer;
        border-radius: 3px;
        position: absolute;
        @include flex-init;
        background-color: #ff0000;
        @include justify-content(center);
        @include align-items(center);

        &:hover {
            background-color: #c20000;
        }
    }
}

.file-manager-button {
    color: #FFF;
    height: 45px;
    cursor: pointer;
    margin: 20px 0;
    padding: 0 20px;
    min-width: 120px;
    max-width: 180px;
    border-radius: 3px;
    @include flex-init;
    background-color: #00aadc;
    @include justify-content(center);
    @include align-items(center);
}