#publishing-action {
  right: 30px;
  bottom: 30px;
  width: 130px;
  height: 50px;
  z-index: 999;
  position: fixed;
  border-radius: 30px;
  background-color: #00a0d2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1); }
  #publishing-action:after {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px; }
  #publishing-action:hover {
    background-color: #21eeff; }
  #publishing-action .button {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    text-shadow: none !important;
    position: absolute;
    background-color: transparent; }
    #publishing-action .button.disabled {
      background-color: transparent !important; }

.div-plugin-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .div-plugin-wrapper *, .div-plugin-wrapper *:after, .div-plugin-wrapper *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

.type-image-background {
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
  bottom: 10px;
  position: absolute;
  background-color: #F0F0EE;
  background-size: cover; }
  .type-image-background .button-action {
    color: #FFF;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #ff0000;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center; }
    .type-image-background .button-action:hover {
      background-color: #c20000; }

.file-manager-button {
  color: #FFF;
  height: 45px;
  cursor: pointer;
  margin: 20px 0;
  padding: 0 20px;
  min-width: 120px;
  max-width: 180px;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #00aadc;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center; }

/*# sourceMappingURL=plugin-hack-style.css.map */
