.form_container{
	z-index: 8;
	left: 50%;
	width: 800px;
	bottom: 40px;
	height: 60px;
	position: absolute;
	display: none;
	margin-left: -(800px/2);
	background-color: rgba(18,111,78,0.95);
	box-shadow: 3px 3px 0px rgba(0,0,0,0.2);

	@include min-breakpoint(810){
		display: block;
	}

	.input_box{
		width: (100% / 5);
		float: left;
		height: 60px;
		padding: 10px 0;
		border-right: 1px solid rgba(255,255,255,0.1);

		input, select{
			width: 100%;
			float: left;
			color: #FFF;
			height: 40px;
			border: none;
			font-size: 10px;
			outline: none;
			text-align: center;
			text-transform: uppercase;
			background-color: transparent;

			&[type=submit]{
				cursor : pointer;
			}

			&.calendar{
				text-align: left;
				padding-left: 29px;
				background: url(css/imgs/calendar-icon.png) no-repeat 10px center;
			}
		}

		select{	
			padding:0 20px 0 32px;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
			background: url(css/imgs/arrow-down.png) no-repeat 10px center;
		}
	}
}