/*
** Global full size
*/
.full_size {
    width: 100%;
    float: left;
    position: relative;
}

.banner_slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #e5e5e5;

    .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;

        .title {
            top: 0;
            left: 0;
            width: 100%;
            color: #FFF;
            z-index: 9;
            height: 100%;
            font-size: 60px;
            position: absolute;
            @include flex-init;
            @include justify-content(center);
            @include align-items(center);
        }

        &:after {
            top: 0;
            left: 0;
            content: '';
            z-index: 8;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include breakpoint(700) {
        height: 80vh;

        .image-container {
            top: 0;
        }
    }
}

.hero_image {
    width: 100%;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center bottom !important;
}

.single_gallery_mini {
    width: 100%;
    float: left;
    height: auto;
    background-color: #f9f9f9;
    position: relative;
}

.full-slider-section {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 200px auto 300px auto;

    @include breakpoint(850) {
        height: auto;
        margin-bottom: 0;
    }

    h2 {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .slide-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @include breakpoint(850) {
            height: auto;
        }

        .slide {
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-position: center;
            position: relative;

            @include breakpoint(850) {
                height: auto;
                padding-top: 65%;
            }

            .content {
                top: 0;
                color: #FFF;
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.3);

                .inner-container {
                    height: 100vh;
                    @include flex-init;
                    @include align-items(center);
                    @include justify-content(center);
                    @include flex-direction(column);

                    @include breakpoint(850) {
                        height: 100%;
                        position: relative;
                    }

                    .slider-title {
                        font-size: 50px;
                        margin-bottom: 40px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .navigation-full-slider {
        left: 0;
        right: 0;
        margin: auto;
        color: #FFF;
        z-index: 999;
        bottom: 30px;
        position: absolute;
        @include flex-init;
        @include justify-content(center);

        @include breakpoint(600) {
            opacity: 0;
            pointer-events: none;
        }

        * {
            cursor: pointer;
        }

        .dot {
            margin: 0 30px;
            @include trans(all .45s $cubic-bazier);

            &.active {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }
}

/**
 * Sunsuko accommodations
 */
.card-listing {
    width: 100%;
    position: relative;

    @include breakpoint(600) {
        margin-bottom: 0;
    }

    .header {
        width: 100%;
        margin: 0 auto 30px auto;
        max-width: 1200px;
        padding-left: 180px;

        @include breakpoint(600) {
            text-align: center;
            padding-left: 0;
        }
    }

    .slider__container {
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        outline: none;

        .listing {
            width: 850px;
            height: auto;
            position: relative;
            padding-left: 40px;

            @include breakpoint(600) {
                width: 100vw;
                padding-left: 0;
            }

            .description {
                top: -10%;
                width: 70%;
                height: 120%;
                z-index: 9999;
                overflow: hidden;
                font-size: 12px;
                position: absolute;
                pointer-events: none;

                .wrapper {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    padding: 60px;
                    position: absolute;
                    @include flex-init;
                    pointer-events: none;
                    background-color: #eee2ed;
                    @include align-items(center);
                    @include transform(translate3d(-100%, 0, 0));

                    &.active {
                        opacity: 1;
                        pointer-events: auto;

                        .description-container {
                            opacity: 0;
                        }
                    }

                    .button {
                        left: 60px;
                        bottom: 50px;
                        font-size: 14px;
                        z-index: 99999;
                        cursor: pointer;
                        font-weight: bold;
                        position: absolute;
                        pointer-events: auto;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }

                    a {
                        color: #000;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }

            .featured {
                width: 100%;
                padding-top: 65.5%;
                background-color: #dfdfdf;
                background-size: cover;
                background-position: center;
                position: relative;

                .gallery-slider {
                    top: 0;
                    z-index: 8;
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    .slider__container {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        position: absolute;

                        &:after {
                            top: 0;
                            left: 0;
                            content: '';
                            z-index: 8;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background-color: rgba(0, 0, 0, 0.2);
                        }

                        .flickity-viewport,
                        .flickity-slider {
                            height: 100% !important;
                        }

                        .flickity-page-dots {
                            left: 40px;
                            z-index: 999;
                            top: 40px;
                            position: absolute;
                            @include flex-init;

                            li {
                                width: 10px;
                                height: 10px;
                                cursor: pointer;
                                overflow: hidden;
                                color: transparent;
                                margin-left: 10px;
                                border-radius: 50%;
                                background-color: #fff;

                                &.is-selected {
                                    opacity: 0.3;
                                    pointer-events: none;
                                }
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                &:after {
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.2);
                }

                .content {
                    bottom: 0;
                    z-index: 9;
                    color: #FFF;
                    padding: 40px;
                    margin-top: 20px;
                    position: absolute;

                    .title {
                        font-size: 25px;
                    }

                    .read-more {
                        margin-top: 20px;
                        font-size: 12px;
                        cursor: pointer;

                        a {
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}