@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Vidaloka&display=swap);

.__main-font {
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Vidaloka', sans-serif;
}

.__font-heading {
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Vidaloka', sans-serif;

    @include breakpoint(600) {
        font-size: 30px;
    }
}

h1 {
    font-weight: 300;
    @include rem("font-size", 30);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;

    @include min-breakpoint(738) {
        @include rem("font-size", 38);
    }

    &.share_title {
        float: left;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;

        @include min-breakpoint(738) {
            height: auto;
            line-height: auto;
            margin-right: 0px;
        }
    }

    &.home_tagline {
        top: 50%;
        z-index: 8;
        width: 100%;
        color: #FFF;
        height: 50px;
        margin-top: 25px;
        font-weight: 700;
        text-align: center;
        position: absolute;
        letter-spacing: 3px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        @include rem("font-size", 45);

        span.coming_soon_text {
            font-size: 18px;
            letter-spacing: 12px;
        }
    }

}

.main-heading {
    @include rem("font-size", 38);
    color: #595959;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.sub-heading {
    @include rem("font-size", 29);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    margin-bottom: 20px;

}