footer {
    width: 100%;
    color: #FFF;
    height: auto;
    padding: 100px 40px;
    position: relative;
    background-color: $base-dark-color;
    font-family: "Roboto", sans-serif;
    @include rem("font-size", 18);
    color: rgba(255, 255, 255, 0.53);

    a {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.53);
        @include transition(color .5s ease);

        &:hover {
            color: rgba(255, 255, 255, 1);
            @include transition(color .5s ease);
        }

        &.website-by {
            color: #FFF;
            text-transform: none;
        }
    }

    #contactDetails {
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        @include flex-init;
        @include justify-content(space-between);

        @include breakpoint($mobileSize) {
            @include flex-wrap;
        }
    }

    .footer-navigation {

        @include breakpoint($mobileSize) {
            width: 100%;
            margin-bottom: 0;
            @include flex(0 0 100%);

            .menu {
                display: none;
            }
        }

        .logo-container {

            svg {
                width: 70px;
                height: auto;
                path,
                ellipse {
                    fill: #FFF;
                }
            }
        }

        .footer-address {
            padding-top: 40px;
            @include flex(1 auto);
            @include flex-init;

            @include breakpoint(600) {
                @include flex-direction(column);
            }

            .box {
                margin-right: 100px;
                @include flex(0 0 400px);

                @include breakpoint(600) {
                    margin-right: 0;
                    @include flex(1 auto);
                }

                &.footer-navigation {
                    @include flex(1 auto);
                    ul {
                        @include flex-init;
                    }
                }
            }

            .design-by {
                margin-top: 20px;
            }

            .info-detail {
                h2 {
                    margin-bottom: 20px;
                }
            }

        }
    }

    .footer-navigation {
        width: 100%;
        line-height: 18px;

        @include breakpoint(600) {
            margin-top: 50px;
        }

        .footer-menu {
            @include flex(1 auto !important);
            @include flex-init;

            @include breakpoint(600) {
                margin-top: 50px;
                @include flex-direction(column);
            }

            .footer-navigation-container,
            .footer-accommodation {
                @include flex(0 0 50%);

                @include breakpoint(600) {
                    @include flex(0 0 100%);
                }
            }

            .footer-accommodation {
                margin-bottom: 50px;

                h2 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }

            ul {
                width: 100%;
                @include flex-init;
                @include flex-direction(column);

                li {
                    margin-right: 10px;

                    a {
                        font-size: 12px;
                        @extend .__font-heading;

                        @include breakpoint(600) {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }
}