header {
    top: 35px;
    width: 40px;
    right: 40px;
    height: 40px;
    position: fixed;
    z-index: 9999999;
    @include single-transition(all, .5s, $cubic-bazier);
    @include transform(translate3d(0, 0, 0));
    display: none;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    @include breakpoint(850) {
        display: block;
    }

    #show_mobile_nav {
        width: 40px;
        height: 40px;
        font-size: 20px;
        text-align: right;

        svg {
            width: 30px;
            fill: #FFF;
        }

    }

    &.active {
        @include transform(translate3d(-280px, 0, 0));
        @include single-transition(all, .5s, $cubic-bazier);

        #show_mobile_nav {
            svg {
                fill: #FFF;
            }
        }
    }

    &.active-bg {
        #show_mobile_nav {
            svg {
                fill: #333;
            }
        }
    }
}

/*
** Navigation
*/
.main_navigation {
    z-index: 9;
    width: 100%;
    height: 140px;
    position: absolute;
    @include flex-init;
    padding-left: 20px;
    @include align-items(center);
    //mix-blend-mode: difference;

    @include breakpoint(500) {
        height: 100px;
    }

    &.change__color {
        mix-blend-mode: difference;
    }

    .mobile-logo {
        display: none;

        svg {
            width: 70px;
            height: auto;

            path,
            ellipse {
                fill: #FFF;
                @include single-transition(all, .5s, ease-in-out);

            }
        }

        @include breakpoint(600) {
            display: block;
        }
    }

    .logo-sunsuko {
        height: 100px;
        @include single-transition(all, .5s, $cubic-bazier);

        @include breakpoint(600) {
            display: none;
        }

        svg {
            height: 80px;
            width: 218px;

            path,
            ellipse {
                fill: #FFF;
                @include single-transition(all, .5s, ease-in-out);

            }
        }

        &.hide {
            @include breakpoint(450) {
                opacity: 0;
                @include single-transition(all, .5s, $cubic-bazier);
            }
        }
    }
}

.burger-menu {
    top: 50px;
    width: 40px;
    right: 30px;
    height: 20px;
    z-index: 99999999;
    cursor: pointer;
    position: fixed;
    @include flex-init;
    @include flex-direction(column);
    @include justify-content(space-between);

    @include breakpoint(500) {
        top: 30px;
    }

    &.change__color {
        mix-blend-mode: difference;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: #FFF;
        @include trans(all .75s $cubic-bazier);
        @include transform-origin(50%, 50%);

        &:last-child {
            width: 80%;
        }
    }

    &:hover {
        .line {
            width: 100%;
        }
    }

    &.active {
        .line {
            &:nth-of-type(1) {
                width: 0;
                //opacity: 0;
            }

            &:nth-of-type(2) {
                width: 120%;
                @include transform(translate3d(-20%, 0, 0))
            }

            &:nth-of-type(3) {
                width: 0;
                //opacity: 0;
            }
        }
    }
}

.language-navigation {
    top: 50px;
    right: 100px;
    z-index: 99999;
    position: fixed;
    &.change__color {
        mix-blend-mode: difference;
    }

    @include breakpoint(500) {
        top: 30px;
    }

    ul {
        @include flex-init;

        li {
            margin-left: 10px;

            &.active {
                opacity: 0.2;
                pointer-events: none;
            }

            a {
                color: #FFF;
                font-size: 11px;
                @include trans(all .45s $cubic-bazier);

                &:hover {
                    opacity: 0.2;
                }
            }
        }
    }
}

.main-navigation-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999991;
    background-color: $base-dark-color;
    @include flex-init;
    pointer-events: none;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include transform(translate3d(100%, 0, 0));

    &.active {
        pointer-events: auto;
    }

    a {
        margin: 0 30px;
        padding-bottom: 5px;
        font-size: 23px;
        @extend .__main-font;
        color: #FFF;
        opacity: 0;
        display: block;
        overflow: hidden;
        position: relative;
        @include trans(all .75s $cubic-bazier);

        @include breakpoint(500) {
            margin: 0;
            text-align: center;
            font-size: 18px !important;
        }

        &:before {
            left: 0;
            bottom: 2px;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: #FFF;
            @include transform(translate3d(-105%, 0, 0));
            @include trans(all .75s $cubic-bazier);

            @include breakpoint(600) {
                display: none;
            }
        }

        &:hover {
            &:before {
                @include transform(translate3d(0, 0, 0));
            }
        }
    }

    li {
        &.active {
            pointer-events: none;
            a {
                &:before {
                    @include transform(translate3d(0, 0, 0));
                }
            }
        }
    }

    .navigation {
        z-index: 9999;
        @include breakpoint(600) {
            width: 100%;
        }
    }
    .accommodation {
        z-index: 9;
        margin: 40px 0;
        @include flex-init;
        position: relative;

        @include breakpoint(600) {
            padding-bottom: 35px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.18);
            @include flex-direction(column);
        }
    }

    .main-navigation-container {
        z-index: 9;
        position: relative;
        @include breakpoint(600) {
            width: 100%;
        }

        ul {
            @include flex-init;

            @include breakpoint(600) {
                @include flex-direction(column);
            }
        }
    }

    .accommodation-featured-image {
        left: 0;
        right: 0;
        height: 100%;
        width: 800px;
        margin: 0 auto;
        position: fixed;
        z-index: 2;
        overflow: hidden;
        @include flex-init;
        pointer-events: none;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);

        .inner-container {
            width: 100%;
            overflow: hidden;
            padding-top: 65.5%;
            position: relative;
            background-color: #715d43;
            @include transform(translate3d(-105%, 0, 0));
        }

        .item {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            @include trans(all 1.1s $cubic-bazier);
            @include transform(scale(1.1));

            &:before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                z-index: 99999;
                background-color: rgba(54, 47, 36, 0.54);
            }

            &.active {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }

    .email{
        width: 100%;
        bottom: 40px;
        z-index: 9999999999;
        text-align: center;
        position: fixed;
        a {
            width: auto;
            margin: 0 auto;
            display: inline-block;
            font-size: 15px !important;
        }
    }

}
