/**
 Slider
 */

section {
    margin-bottom: 150px;
}

#home-slides {
    position: absolute;
    width: 100%;
    height: 100%;

    .flickity-viewport,
    .item {
        width: 100%;
        height: 100vh !important;
    }

    .item {
        overflow: hidden;
        .background-container {
            width: 100%;
            background-size: cover;
            background-position: center;
            height: 100vh !important;

            @include breakpoint($mobileSize) {
                height: 60vh !important;
            }
        }
    }
}

.home_content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    max-width: 1540px;
    position: relative;
    @include flex-init;
    @include justify-content(space-between);

    @include breakpoint(850) {
        @include flex-direction(column);
    }

    @include breakpoint(600) {
        padding: 0;
    }

    .main-banner {
        z-index: 99;
        height: 450px;
        overflow: hidden;
        @include flex(0 0 45%);
        position: relative;
        @include transform(translate3d(40px, 0, 0));

        @include breakpoint(850) {
            height: 400px;
            @include flex(1 auto)
        }

        @include breakpoint(600) {
            @include transform(translate3d(0, 0, 0));
        }

        &:after {
            top: 0;
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
        }

        .flickity-viewport {
            width: 100%;

            .item {
                width: 100%;
                height: 550px;
                position: relative;
                overflow: hidden;

                @include breakpoint(600) {
                    height: 400px;
                }

                .background-container {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 9;
                    background-size: cover;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .content-container {
        padding: 50px 50px 50px 140px;
        font-size: 12px;
        position: relative;
        z-index: 99999;
        @include flex(1 auto);
        @include transform(translate3d(-40px, 0, 0));

        @include breakpoint(550) {
            padding: 30px;
            @include transform(translate3d(0, 0, 0));
        }

        h2 {
            left: 0;
            z-index: 1;
            font-size: 45px;
            margin-bottom: 15px;
            mix-blend-mode: difference;
        }

        article {
            z-index: 2;
            position: relative;
        }
    }
}

.accommodation-listing {
    .room-price {
        font-size: 20px;
    }

    .discover-more {
        color: #FFF;
        margin: 20px 0;
        a {
            color: #FFF;
        }
    }
}

/**
 * Sunsuko facilities
 */

.facility-detail {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 99999999999;
    pointer-events: none;
    background-color: rgba(230, 230, 230, 0.96);

    .button-close {
        top: 20px;
        right: 20px;
        color: #000;
        font-size: 14px;
        position: fixed;
        cursor: pointer;
        z-index: 9999999;
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .holder {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        @include flex-init;
        @include justify-content(center);
        @include align-items(center);

        @include breakpoint(850) {
            @include align-items(flex-start);
            @include justify-content(flex-start);
        }
    }
    .wrapper {
        width: 100%;
        height: auto;
        max-width: 1240px;

        .inner-container {
            width: 100%;
            padding-top: 40%;
            position: relative;

            @include breakpoint(850) {
                padding-top: 0;
            }

            .content-container {
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                @include flex-init;
                pointer-events: none;
                @include justify-content(space-between);

                @include breakpoint(850) {
                    height: 100vh;
                    overflow: hidden;
                    overflow-y: auto;
                    @include flex-direction(column);
                }

                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }

                .content {
                    font-size: 11px;
                    padding-right: 60px;
                    text-align: right;
                    @include flex(1 auto);
                    @include flex-direction(column);
                    @include flex-init;
                    @include align-items(flex-end);
                    @include justify-content(center);

                    h2 {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }

                    @include breakpoint(850) {
                        max-width: 600px;
                        text-align: center;
                        margin: 50px auto;
                        padding: 0 20px;

                        h2 {
                            width: 100%;
                        }
                    }
                }

                .banner {
                    position: relative;
                    @include flex(0 0 60%);

                    .slider__container {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        position: relative;

                        @include breakpoint(850) {
                            padding-top: 65%;
                            position: relative;
                        }

                        .flickity-viewport {
                            width: 100%;
                            height: 100% !important;

                            @include breakpoint(850) {
                                top: 0;
                                position: absolute;
                            }

                            .flickity-slider {
                                height: 100%;
                            }
                        }

                        .featured {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            .parallax-container {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                background-size: cover;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sunsuko-facilities {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto 150px auto;

    @include breakpoint(600) {
        margin-bottom: 50px;
    }

    .__font-heading {
        margin-bottom: 30px;
        text-align: center;
    }

    .card-container {
        width: 100%;
        @include flex-init;
        @include justify-content(space-between);

        @include breakpoint(600) {
            @include flex-direction(column);
        }

        .card {
            @include flex(0 0 33.333%);
            padding: 0 20px;

            @include breakpoint(600) {
                width: 100%;
                @include flex(1 auto);
            }

            .featured-card {
                width: 100%;
                padding-top: 140%;
                position: relative;
                overflow: hidden;

                @include breakpoint(600) {
                    padding-top: 65%;
                    margin-bottom: 30px;
                }

                .featured {
                    top: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 1;
                }

                &:after {
                    top: 0;
                    left: 0;
                    content: '';
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.37);
                    @include trans(all .75s $cubic-bazier);
                }

                .detail {
                    width: 100%;
                    z-index: 99;
                    color: #FFF;
                    bottom: 50px;
                    padding: 15px;
                    position: absolute;
                    text-align: center;
                    @include flex-init;
                    @include flex-direction(column);
                    @include align-items(center);

                    .main-title {
                        font-size: 26px;
                    }

                    .button {
                        width: 130px;
                        height: 40px;
                        color: #FFF;
                        cursor: pointer;
                        font-size: 13px;
                        @include flex-init;
                        @include align-items(center);
                        @include justify-content(center);
                        position: relative;
                        overflow: hidden;
                        @include trans(all .35s $cubic-bazier);

                        &:after {
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: '';
                            z-index: -1;
                            position: absolute;
                            background-color: #FFF;
                            @include translate(0, 110%, 0);
                            @include trans(all .35s $cubic-bazier);
                        }

                        &:hover {
                            color: #000;
                            &:after {
                                @include translate(0, 0, 0)
                            }
                        }
                    }
                }
            }

            &:hover {
                .featured-card {
                    .featured {
                        @include scale(1.1);
                    }
                }
            }
        }
    }
}

/**
 Service Activities
 */
.service-activities {
    width: 90%;
    margin: 200px auto 0 auto;
    position: relative;

    @include breakpoint(600) {
        width: 100%;
        margin-top: 100px;
    }

    .prev-next-container {
        width: 100%;
        margin-top: 40px;
        margin-left: 100px;

        .button {
            cursor: pointer;
            margin-right: 30px;

            &.disabled {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }

    .content-services {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        margin-top: 50px;

        @include breakpoint(600) {
            width: 80%;
            margin: 0 auto;
        }

        .inner-container {
            right: 0;
            width: 100%;
            z-index: 999;
            height: 100%;
            padding: 40px 0;
            font-size: 12px;
            max-width: 800px;
            background-color: #f9f9f9;

            h2 {
                margin-bottom: 15px;
            }

            ul {
                margin-bottom: 30px;
                @include flex-init;
                @include flex-wrap;

                li {
                    font-size: 12px;
                    padding-right: 50px;
                    margin-bottom: 15px;
                    padding-left: 15px;
                    position: relative;
                    @include flex(0 0 50%);

                    @include breakpoint(500) {
                        @include flex(0 0 100%);
                    }

                    &:before {
                        top: 0;
                        left: 0;
                        content: '-';
                        position: absolute;
                    }
                }
            }
        }
    }

    .gallery-container {
        width: 100%;
        overflow: hidden;
        @include flex-init;
        position: relative;

        .main-title {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: #FFF;
            margin: auto;
            z-index: 99999;
            position: absolute;
            @include flex-init;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            pointer-events: none;

            .button {
                pointer-events: auto;
                cursor: pointer;
            }
        }

        .navigation-prev-next-default {
            z-index: 9999;
        }

        .gallery-inner-container {
            width: 100%;
            padding-top: 60%;
            position: relative;
            overflow: hidden;

            &:after {
                top: 0;
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .slider__container {
                top: 0;
                width: 100%;
                height: 100%;
                position: absolute;

                .flickity-slider {
                    height: 100%;
                }

                .item {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}