.price_mobile {
    bottom: 0;
    width: 100%;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    background-color: rgba(18, 111, 78, 0.95);

    label {
        float: left;
        width: auto;
        height: 40px;
        margin-right: 10px;
        display: inline-block;
    }

    h1 {
        float: left;
        width: auto;
        height: 40px;
        color: #FFF;
        margin: 0 !important;
        display: inline-block;
    }
}

.main_content {
    float: left;
    width: 100%;
    padding-bottom: 60px;

    .tabs_nav {
        display: none;
    }

    article {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #ECECEC;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @include min-breakpoint(738) {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    #overview {
        p {
            @include rem("font-size", 21);
            font-weight: 400;
            line-height: 25px;
        }
    }
}

.accommodations-list {
    position: relative;
    height: auto;

    .accommodation-item {
        position: relative;
        height: 500px;

        .dsc {
            position: absolute;
            height: 400px;
            top: 50px;
            z-index: 9;
            color: #FFF;
            @include soft-gradient(rgb(105, 155, 200), rgba(105, 155, 200, 1), rgb(179, 168, 216));

            &.desc-right {
                right: 50px;
            }

            &.desc-left {
                left: 50px;
            }

            .sub-heading {
                color: #FFF;
            }

            @include breakpoint(750) {
                width: 50%;
                top: 0;
                height: 100%;

                &.desc-right {
                    right: 0px;
                }

                &.desc-left {
                    left: 0px;
                }
            }

            @include breakpoint(680) {
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.41);

                &.desc-right {
                    right: 0px;
                    //@include soft-gradient( #45b674, #4b479d,#110921);
                }

                &.desc-left {
                    //@include soft-gradient( #110921, #4b479d, #45b674);
                    left: 0px;
                }
            }
        }

        .banner {
            height: 100%;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0);
                @include transition(all .5s $cubic-bazier);

            }

            .show-detail-arrow {
                width: 60px;
                @include transform(translate3d(-50px, 0, 0));
                @include transition(all .5s $cubic-bazier);
                opacity: 0;
                position: relative;
                z-index: 9999;

                &.pos-right {
                    float: right;
                    margin-right: 200px;
                }

                &.pos-left {
                    float: left;
                    margin-left: 200px;
                }

                svg {
                    width: 30px;

                    path {
                        fill: #FFF;
                    }
                }
            }
        }

        &:hover {
            .banner {
                &:after {
                    background-color: rgba(0, 0, 0, 0.37);
                    @include transition(all .5s $cubic-bazier);

                }

                .show-detail-arrow {
                    @include transform(translate3d(0, 0, 0));
                    @include transition(all .5s $cubic-bazier);
                    opacity: 1;

                    @include breakpoint(680) {
                        opacity: 0;
                    }
                }
            }
        }

    }
}

/**
 Single page accommodation
 */
.accommodation-single-content {
    @include flex-init;
    max-width: 1000px;
    margin: 0 auto 100px auto;

    @include breakpoint(600) {
        margin-bottom: 60px;
        @include flex-direction(column);

        .box-5o-one {
            width: 100%;
            padding: 0 30px;
            text-align: center;
        }
    }

    .welcome_content {
        padding-top: 0;
        @include breakpoint(600) {
            @include flex-order(2)
        }
    }

    .room-price-container {
        @include breakpoint(600) {
            @include flex-order(1);
            margin-bottom: 30px;
        }
        .room-price {
            font-size: 19px;
            margin-bottom: 20px;
        }

        a {
            color: $base-dark-color;
            @include trans(all .45s $cubic-bazier);

            &:hover {
                color: #000;
            }
        }
    }
}

.accommodation-gallery-listing {
    position: relative;

    .navigation-prev-next {
        top: 45%;
        left: 45px;
        z-index: 9999;
        position: absolute;
        @include flex-init;

        .prev-next-navigation {
            width: 50px;
            height: 50px;
            cursor: pointer;
            @include flex-init;
            background-color: #FFF;
            @include justify-content(center);
            @include align-items(center);
            @include trans(all .7s $easeInOutQuart);

            &:hover {
                color: #FFF;
                background-color: #382a2b;
            }

            &.disabled {
                color: #cacaca;
                background-color: #e5e5e5;
                pointer-events: none;
            }
        }
    }

    .header {
        color: #FFF;
        width: 100%;
        padding: 40px;
        z-index: 999;
        font-size: 60px;
        margin: 0 auto;
        max-width: 1220px;
        position: absolute;
    }

    .slider__container {
        width: 100%;
        position: relative;

        &:after {
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            content: '';
            bottom: 0;
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0.17);
            position: absolute;
        }

        .flickity-page-dots {
            bottom: 40px;
            left: 48px;
            position: absolute;
            @include flex-init;

            li {
                width: 6px;
                height: 6px;
                cursor: pointer;
                overflow: hidden;
                margin-right: 10px;
                border-radius: 50%;
                background-color: #FFF;

                &.is-selected {
                    opacity: 0.4;
                }
            }
        }

        .galleries {
            top: 0;
            width: 100%;
            height: 100vh;
            position: absolute;

            @include breakpoint(600) {
                height: 300px;
            }

            .image {
                @include flex-init;
                @include align-items(center);
                @include justify-content(center);
                overflow: hidden;

                img {
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover;

                    @include breakpoint(600) {
                        height: 300px;
                    }
                }
            }
        }
    }
}

.more-room-section {
    width: 100%;
    position: relative;

    .navigation-prev-next {
        top: 50%;
        left: 50px;
        right: 50px;
        margin: 0 auto;
        z-index: 9999;
        @include flex-init;
        position: absolute;
        @include justify-content(space-between);

        .prev-next-navigation {
            width: 80px;
            height: 80px;
            color: #FFF;
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #FFF;
            @include flex-init;
            @include align-items(center);
            @include justify-content(center);

            &.disabled {
                opacity: 0;
                cursor: none;
                pointer-events: none;
            }
        }
    }

    &:after {
        top: -150px;
        left: 0;
        z-index: -1;
        height: 100%;
        content: '';
        width: 100vw;
        position: absolute;
        background-color: #e4e4e4;
    }

    .others-rooms {
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        position: relative;

        .header {
            margin-bottom: 40px;
        }

        .rooms-container {

            .rooms {
                width: 800px;
                margin-left: 40px;
                background-size: cover;
                background-position: center;

                .inner-container {
                    width: 100%;
                    position: relative;
                    padding-top: 65.5%;
                    background-color: rgba(0, 0, 0, 0.3);

                    .room-name {
                        left: 0;
                        z-index: 9;
                        bottom: 0;
                        color: #FFF;
                        width: 100%;
                        padding: 60px;
                        position: absolute;

                        h2 {
                            color: #FFF;
                            font-size: 30px;
                        }

                        a {
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}