.page-story-container {

    .banner_slider {
        @include breakpoint(600) {
            height: 100vh;
        }
    }

    section {
        @include breakpoint(600) {
            margin-bottom: 0;
        }
    }

    .page-about {
        width: 100%;
        margin: 0 auto 150px auto;
        max-width: 1200px;
        position: relative;

        .overlay {
            top: 150px;
            left: 20%;
            width: 45%;
            z-index: -1;
            height: 90%;
            position: absolute;
            background-color: #f3f3ec;
        }

        .inner-container {
            @include flex-init;
            @include justify-content(space-between);

            @include breakpoint($mobileSize) {
                @include flex-wrap;
            }

            .photo-profile {
                padding-right: 30px;
                @include flex(1 auto);

                @include breakpoint($mobileSize) {
                    padding-right: 0;
                    @include flex-order(2);
                }

                .self-portrait {
                    width: 100%;
                    height: auto;
                    padding: 50px;

                    @include breakpoint($mobileSize) {
                        padding: 0 40px 40px 40px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                }
            }

            .single-content-detail {
                @include flex(0 0 45%);
                padding-bottom: 80px;
                padding-right: 100px;
                padding-left: 50px;

                @include breakpoint($mobileSize) {
                    @include flex(0 0 100%);
                    @include flex-order(1);
                    padding: 40px;
                }
            }
        }
    }
}