.inquiry-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999999999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    @include translate(-110%, 0, 0);

    .ti-close {
        top: 20px;
        right: 20px;
        color: #000;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
    }

    .form-container {
        bottom: 0;
        padding: 50px;
        width: 500px;
        height: 100vh;
        position: absolute;
        background-color: #FFF;
        @include translate(-100%, 0, 0);

        .form-input {
            width: 100%;
            margin-bottom: 15px;

            select {
                width: 100%;
                border: none;
                outline: none;
                padding: 10px 0;
                margin-top: 10px;
                border-radius: 0;
                background-color: #FFF;
                border-bottom: 1px solid #ecf4f7;
            }

            input {
                width: 100%;
                outline: none;
                border: none;
                padding: 10px 0;
                border-bottom: 1px solid #ecf4f7;

                &[type=submit] {
                    cursor: pointer;
                    font-size: 20px;
                    margin-top: 20px;
                    color: $base-dark-color;
                    @extend .__font-heading;
                    text-align: left;
                    width: 100px;
                    border-bottom: none;
                }
            }

            textarea {
                width: 100%;
                height: 100px;
                border: none;
                outline: none;
                border-bottom: 1px solid #ecf4f7;
            }
        }
    }
}

.contact-container {
    width: 100%;
    height: auto;
    position: relative;

    .banner_slider {
        margin-bottom: 0;
    }

    .content-item {
        width: 50%;
        @include flex(0 0 50%);

        @include breakpoint($mobileSize) {
            @include flex(0 0 100%);

        }
    }

    .map-location {
        width: 100%;
        margin: -100px auto 0 auto;
        z-index: 9999;
        max-width: 1100px;
        background-color: #f9f9f9;
        position: relative;
        @include flex-init;
        @include justify-content(space-between);

        @include breakpoint(600){
            @include flex-direction(column);
        }

        .google-map {
            height: 500px;
            @include flex(0 0 60%);
            position: relative;

            @include breakpoint(600){
                @include flex-order(2);
                width: 100%;
                height: 300px;
                @include flex(1 auto);
            }

            #map-location {
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }

        .contact-form {
            height: auto;
            padding: 70px;
            background-color: #FFF;
            @include flex(1 auto);

            @include breakpoint(600){
                width: 100%;
                padding: 40px;
                @include flex-order(1)
            }

            a {
                color: $base-dark-color;
            }

            .button-show-form {
                color: #FFF;
                cursor: pointer;
                background-color: $base-dark-color;

                &:after {
                    background-color: #000;
                }
            }
        }
    }
}