.facilities {
    @include breakpoint($mobileSize) {
        padding: 10px 0;
    }

    .facility {
        height: auto;
        position: relative;

        &:after {
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            content: '';
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.17);
            position: absolute;
        }

        @include breakpoint(760) {
            margin-bottom: 10px;
            height: auto;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            float: left;
            width: 100%;
        }

        .facilities-detail {
            top: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            height: 60px;
            margin: auto;
            position: absolute;

            @include breakpoint($mobileSize) {
                height: 30px;
                padding: 0;
            }

            .sub-heading {
                color: #FFF;
                font-size: 50px;
                font-weight: 400;
                text-align: center;
                letter-spacing: 4px;

                @include breakpoint($mobileSize) {
                    font-size: 25px;
                }
            }

        }

        .desc-right {
            background-color: #f0f0f0;
        }

        @include breakpoint(760) {
            .desc,
            .banner {
                width: 100%;
                height: auto;
            }
        }
    }

}