/**
 * Fixed gallery
 */
.fix-gallery {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999999;
    background-color: $base-dark-color;
    @include translate(0, 120%, 0);

    * {
        outline: none;
    }

    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .inner-container {
        opacity: 0;
        @include trans(all .45s $cubic-bazier);

        &.active {
            opacity: 1;
        }
    }

    .close-button {
        top: 20px;
        right: 20px;
        width: 40px;
        color: #FFF;
        height: 40px;
        z-index: 9999;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        @include flex-init;
        @include justify-content(center);
        @include align-items(center);
    }

    .main-picture {
        width: 100%;
        height: 100%;
        position: absolute;
        .item,
        .bg-cover {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
    }

    .thumbnails-gallery {
        left: 0;
        width: 100%;
        z-index: 3;
        height: 60px;
        bottom: 30px;
        position: absolute;

        .item {
            width: 30px;
            height: 30px;
            padding: 2px;
            cursor: pointer;
            position: relative;

            &.active {
                pointer-events: none;
                .bg-cover {
                    &:after {
                        opacity: 1;
                    }
                }
            }

            .bg-cover {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: relative;
                overflow: hidden;

                &:after {
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.71);
                    @include trans(all .45s $cubic-bazier);
                }
            }
        }
    }
}

.gallery_page {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    width: 100% !important;
    background-color: #F5F5F5;

    .gallery-category-container {
        width: 100%;
        height: auto;
        @include flex-init;
        @include justify-content(space-between);
        @include flex-wrap;

        .gallery-category {
            width: 50%;
            height: 50vh;
            @include flex(0 0 50%);
            position: relative;

            @include breakpoint($mobileSize) {
                @include flex(0 0 100%);
            }

            .thumbnail,
            .clipping-image {
                width: 100%;
                height: 100%;
                position: absolute;
            }

            .clipping-image {
                background-position: center;
                background-size: cover;

                &:after {
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 2;
                    content: '';
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.17);
                    position: absolute;
                }

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 9;

                    .content-main-heading {
                        position: absolute;
                        width: 100%;
                        height: 40px;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        text-align: center;
                        line-height: 40px;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.page-gallery {
    .full-slider-section {
        margin: 0 !important;

        .button__gallery-overlay {
            cursor: pointer;
        }
    }

    .navigation-full-slider {
        bottom: 100px;

        .item {
            margin: 0 15px;
            font-size: 12px;
        }
    }
}