.map_location_container{
	width: 100%;
	height: 100%;
	position: relative;

	.location_address{
		z-index: 9;
		bottom: 50px;
		width: 100%;
		color: #222;
		text-align: center;
		position: absolute;

		p{
			font-weight: 400;
		}
	}
}

#map-canvas { 
	float: left; 
	width: 100%; 
	height: 100%;
	float: left;
}