.special_offer{
	width: 100%;
	margin-left: 0;
	position: relative;

	.no_offer_publish{
		position: relative;

		h2{
			top: 50%;
			width: 100%;
			height: 40px;
			height: 60px;
			margin-top: -30px;
			color: #FFF;
			position: absolute;
			text-align: center;
		}
	}

	.post_grid{
		left: 50%;
		float: left;
		width: 1020px;
		padding: 40px 0;
		position: relative;
		margin-left: -(1024px/2);

		h1{
			padding-left: 10px;
			float: left;
			width: 100%;
		}
	}

	.one_post_wide{
		width: 100%;
		float: left;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover !important;

	}

	.two_post_half{
		width: 50%;
		float: left;
		position: relative;
		background-size: cover !important;
		background-position: center;
		@include single-transition(all, .3s, ease-out);


		&:hover{
			@include single-transition(all, .3s, ease-out);
			background-position: -100px center;
		}
	}

	.box_3_col{
		float: left;
		height: 550px;
		position: relative;
		width: (100%/3);
		padding: 10px;

		.thumb{
			width: 100%;
			float: left;
			height: 55%;
			background-size: cover !important;
			position: relative;
			background-repeat: no-repeat;
			@include single-transition(all, .3s, ease-out);


			&:hover{
				@include single-transition(all, .3s, ease-out);
				background-position: center 0px;	
			}

			a{
				bottom: 0;
				position: absolute;
			}
		}

		.post_content_grid{
			width: 100%;
			float: left;
			height: 45%;
			padding: 20px;
			background-color: #F5F5F5;
		}
	}

	/*
	** Content
	*/
	.content{
		top: 30%;
		left: 20%;
		width: 350px;
		height: auto;
		float: left;
		color: #111;
		position: absolute;

		h2{
			float: left;
			width: 100%;
			margin-bottom: 15px;
			font-size: 25px;
		}

	}

	/*
	** Buttons
	*/
	a{
		float: left;
		color: #FFF;
		height: auto;
		width: 150px;
		padding: 14px 0;
		margin-top: 15px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		background-color: $green-color;
		@include single-transition(all, .5s, ease-in-out);

		&:hover{
			color : $green-color;
			background-color: #FFF;
			@include single-transition(all, .5s, ease-in-out);
		}
	}
}

.special_offer_detail{
	width: 100%;
	float: left;
	margin-left: 0;
	padding-top: 80px;
	position: relative;

	.hero_image_offer{
		width: 100%;
		float: left;
		height: 400px !important;
		background-position: center !important;
		background-size: cover !important;
	}

	.content_offer_detail{
		left: 50%;
		width: 700px;
		float: left;
		margin: 50px 0;
		position: relative;
		margin-left: -(700px/2);

		.content_detail{
			width: 100%;
			float: left;
		}
	}
}