*:after,
*:before {
    pointer-events: none;
}

#main-container-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;

    .main-container-inner-wrapper {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.slider__container {
    outline: none;
}

.full-height {
    height: $full-vertical-height;

    @include breakpoint($mobileSize) {
        height: 60vh;
    }
}

.box-2o-one {
    width: 20%;
}

.box-3o-one {
    width: 30%;
}

.box-4o-one {
    width: 40%;
}

.box-5o-one {
    width: 50%;
}

.box-6o-one {
    width: 60%;
}

.box-7o-one {
    width: 70%;
}

.box-8o-one {
    width: 80%;
}

.box-9o-one {
    width: 90%;
}

.box-10o-one {
    width: 100%;
}

.padding-medium {

    padding: 60px;
}

.parallax {
    overflow: hidden;
}

.padding-big {
    padding: 85px;

    @include breakpoint(450) {
        padding: 40px;
    }
}

.padding-vertical-big {
    padding: 85px 0;

}

.padding-left-big {
    padding-left: 219px;
}

.padding-right-small {
    padding-right: 19px;
}

.white {
    color: #FFF;
}

.bg-cover {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-top-pos {
    background-position: top center !important;
}

.display-tb {
    display: table;
    width: 100%;
    height: 100%;

    .display-cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}

.container-row-one {
    width: 100%;
    float: left;
}

.flex {
    @include flex-init;
    @include flex-wrap();
}

article {
    color: #818181;
}

.content_section {
    width: 100%;
    float: left;
    padding: 60px 0 0;
    position: relative;
    @include single-transition(all, .5s, ease-in-out);

    &.special_offer {
        padding-top: 80px;
    }

    @include min-breakpoint(738) {
        width: 70%;
        margin-left: 15%;
    }

    .main_content {
        width: 100%;
        float: left;
        height: auto;
        padding: 0 20px;
        min-height: 400px;

        @include min-breakpoint(738) {
            width: 70%;
            padding-right: 30px;
            padding-bottom: 60px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }

        li {
            margin-bottom: 10px;
        }

        strong {
            color: #333;
            font-weight: 400;
        }
    }

    .aside_content {
        width: 100%;
        float: left;
        height: auto;
        padding-left: 30px;

        @include min-breakpoint(738) {
            width: 30%;
        }

        .price {
            width: 100%;
            float: left;
            display: none;
            color: $green-color;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            @include min-breakpoint(738) {
                display: block;
            }

            h1 {
                display: inline-block;
            }

            label {
                display: inline-block;
                margin-right: 15px;
            }
        }

        ul.aside_nav {
            display: none;
            margin-bottom: 30px;
            float: left;

            @include min-breakpoint(738) {
                display: block;
            }

            li {
                width: 100%;
                float: left;
                cursor: pointer;
                padding: 13px 0;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                @include single-transition(all, .5s, ease-in-out);

                &:hover,
                &.tab_active {
                    color: $green-color;
                    @include single-transition(all, .5s, ease-in-out);
                }
            }
        }
    }
}

.overlay_content {
    top: 40%;
    width: 50%;
    padding: 40px;
    height: auto;
    margin-left: 25%;
    //background-color: rgba(18,111,78,0.9);

    p {
        font-size: 15px;
        line-height: 27px;
        font-weight: 400;
    }
}

/*
* Buttons
*/
.button-square-border {
    display: inline-block;
    height: 39px;
    line-height: 35px;
    padding: 1px 25px;
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
    overflow: hidden;
    @include transition(all .5s $cubic-bazier);

    &:after {
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        text-align: center;
        background-color: #FFF;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include transform(translate3d(-120%, 0, 0));
        @include transition(all .5s $cubic-bazier);
    }

    &:hover {
        color: #333;

        &:after {
            @include transform(translate3d(0, 0, 0));
            @include transition(all .5s $cubic-bazier);
        }
    }
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    z-index: 9999;

    svg {
        width: 20px;
        height: auto;
        margin: 15px;

        path {
            fill: #FFF;
        }
    }
}

.float-container {
    float: left;
}

#main-container-wrapper {

    &:before {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.51);
        z-index: -1;
        opacity: 0;
        @include transition(all .5s $cubic-bazier);
    }

    &.active-shield {
        position: relative;

        &:before {
            opacity: 1;
            z-index: 99999;
            @include transition(all .5s $cubic-bazier);
            //@include transform(translate3d(0, 0, 0 ));
        }
    }

    @include breakpoint(750) {

        .single_detail {
            .main_content {
                .single-title {
                    width: 100%;
                    text-align: left;
                    padding-left: 80px;

                    .single-gallery {
                        display: none;
                    }
                }

                .single-content-detail {
                    width: 100%;
                    padding-top: 40px;
                    padding-left: 80px;
                }
            }
        }
    }

}

.navigation-prev-next-default {
    top: 50%;
    left: 50px;
    right: 50px;
    margin: 0 auto;
    z-index: 9999;
    @include flex-init;
    position: absolute;
    @include transform(translate3d(0, -40px, 0));
    @include justify-content(space-between);
    @include breakpoint(500) {
        opacity: 0;
        pointer-events: none;
    }

    .prev-next-navigation {
        width: 60px;
        height: 60px;
        color: #FFF;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #FFF;
        @include flex-init;
        @include align-items(center);
        @include justify-content(center);

        &.disabled {
            opacity: 0;
            cursor: none;
            pointer-events: none;
        }
    }
}