ul.share_page{
	width: 200px;
	float: left;
	margin-bottom: 30px;

	li{
		width: 25% !important;
		float: left;
		border: none !important;

		a{
			float: left;
			width: 30px;
			color: #FFF;
			height: 30px;
			display: block;
			font-size: 18px;
			text-align: center;
			line-height: 30px;
			border-radius: 50%;
			background-color: #CCC;
			@include single-transition(all, .5s, ease-in-out);

			&:hover{
			@include single-transition(all, .5s, ease-in-out);

				&#pin_btn{
					background-color: #D90006;
				}

				&#fb_btn{
					background-color: #3748F0;
				}

				&#twitt_btn{
					background-color: #3F98F0;
				}

				&#google_btn{
					background-color: #F0451A;
				}
			}
		}
	}
}