.single-title {
    padding-top: 85px;
    padding-right: 85px;
    text-align: right;
}

.single-content-detail {
    padding-top: 85px;
    padding-right: 85px;
    text-align: left;

    @include breakpoint(360) {
        padding: 40px !important;
    }
}

.single-content-article {
    width: $full-width;
    max-width: 499px;
}

.single_gallery_mini {
    .item {
        width: 60%;
        height: auto;
        float: left;
        padding: 40px;
        max-width: 900px;

        .image {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .gallery-image-name {
            font-size: 13px;
            margin-bottom: 10px;
        }

        &.box-2-col {
            width: 50%;
        }

        &.box-3-col {
            width: 100% - (100% / 3);
        }

        &.boxv-2-col {
            height: (399px * 2);
        }

        @include breakpoint(550) {
            width: 50%;
            height: 250px;

            &.box-2-col {
                width: 50%;
            }

            &.box-3-col {
                width: 50%;
            }
        }

        @include breakpoint(360) {
            width: 100%;

            &.box-2-col {
                width: 100%;
            }

            &.box-3-col {
                width: 100%;
                height: 250px;
            }
        }
    }

    @include breakpoint(550) {
        .big-item {
            height: 250px;
        }
    }
}
