#home_slides,
#galleries,
.slider{
	height: 100%;
	position: relative;
	
	.owl-stage-outer,
	.owl-stage{
		height: 100%;
		position: relative;
	}

	.owl-item{
		height: 100%;
		position: relative;
		
		.item{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			background-position: center bottom !important;
		}
	}

	.owl-controls{
		top: 50%;
		z-index: 9;
		width: 100%;
		height: 60px;
		margin-top: -30px;
		position: absolute;

		.owl-nav div{
			width: 50%;
			height: 60px;
			float: left;
			cursor: pointer;

			&.owl-prev{
				background: url(css/imgs/prev-button.png) no-repeat 5% center;
			}

			&.owl-next{
				background: url(css/imgs/next-button.png) no-repeat 95% center;
			}
		}
	}
}

.thumbnails_container{
	opacity: 0.2;
	width: 100%;
	z-index:9;
	height: 90px;
	bottom: 40px;
	display: none;
	position: absolute;
	background-color: rgba(76,197,152, 0.8);
	@include single-transition(all, 500ms, ease-in-out);


	@include min-breakpoint(1000){
		display: block;
	}

	&:hover{
		opacity: 1;
	}

	ul{
		width: 100%;
		float: left;
		height: 90px;
		text-align: center;
		padding: 5px;

		li{
			width: 80px;
			height: 100%;
			margin: 0 2px;
			cursor: pointer;
			display: inline-block;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover !important;
			@include single-transition(all, 500ms, ease-in-out);

			&:hover, 
			&.curr_thumb_active{
				opacity : 0.4;
			}
		}
	}
}