.panda__text-input {
    width: 100%;
    margin-bottom: 20px !important;

    label {
        font-size: 11px;
        width: 100%;
        color: #91989b;
    }

    input {
        border: 0;
        width: 100%;
        padding: 10px 0;
        outline: none;
        border-bottom: 1px solid #e5edf0;
    }
}

.panda__textarea-input {
    width: 100%;
    margin-bottom: 20px !important;

    label {
        font-size: 11px;
        width: 100%;
        color: #91989b;
    }

    textarea {
        border: 0;
        width: 100%;
        height: 100px;
        outline: none;
        padding: 10px 0;
        border-bottom: 1px solid #e5edf0;
        box-shadow: none;
    }
}