@import "../modules/mixins";

.panda__gallery-editor {
    width: 100%;

    .panda__button-add__container {
        width: 100%;

        .panda__button-add {
            width: 160px;
            padding: 15px;
            color: #FFF;
            text-align: center;
            background-color: #000;
            margin-bottom: 20px;
        }
    }

    .card-container {
        @include flex-init;
        @include flex-wrap;

        .outer-container {
            @include flex(0 0 20%)
        }

    }

    .button-action {
        top: 20px;
        opacity: 1;
        right: 20px;
        color: #FFF;
        z-index: 999;
        padding: 10px;
        cursor: pointer;
        font-size: 11px;
        position: absolute;
        text-transform: uppercase;
        background-color: #ff0000;
    }
}

/**
 * Featured image
 */
.panda__featured-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;

    .buttons-actions {
        top: 10px;
        left: 10px;
        position: absolute;
        @include flex-init;

        .panda__button {
            width: 30px;
            height: 30px;
            color: #FFF;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #000;
            @include flex-init;
            @include justify-content(center);
            @include align-items(center);
        }
    }
}