#popUpGalleryContainer{
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 999999999;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 70% !important;
	background-color: rgba(0,0,0,0.6);
	transition : all ease-in-out 500ms;

	.loadingProgress{
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		position: fixed;
		border-radius: 50%;
		margin-left: -25px;
		margin-top: -25px;
		background-size: 70% auto !important;
		background: url(css/imgs/Preloader.gif) no-repeat center center #FFF;
	}

	.closeGalleryButton{
		top: 15%;
		left: 15%;
		width: 70%;
		height: 70%;
		position: fixed;
	}

	.controlImageGallery{
		position: absolute;
		width: 100%;

		.prevButtonGallery{
			top: 50%;
			left: 30px;
			width: 39px;
			float: left;
			height: 60px;
			cursor: pointer;
			position: fixed;	
			margin-top: -30px;
			background: url(css/imgs/galleryNavigation.png) no-repeat left center;
		}

		.nextButtonGallery{
			top: 50%;
			right: 30px;
			width: 39px;
			height: 60px;
			float: right;
			position: fixed;
			cursor: pointer;
			margin-top: -30px;
			background: url(css/imgs/galleryNavigation.png) no-repeat right center;

		}
	}
}