*, *:after, *:before { 
  @include vendor(box-sizing, border-box); 
  margin:0;
  padding:0;
}


html {
  font-size:62.5%;
  overflow-x: hidden;
}


body {
  margin:0;
  padding:0;
  width:100%;
  color: #535353;
  line-height:1.3;
  overflow-x: hidden;
  background-color: #FFF;
  font-family: "Roboto", Arial, Sans-serif;
  @include rem("font-size", $regularSize);
   -webkit-font-smoothing: antialiased;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul li {
  margin:0;
  padding:0;
}

ol {
  margin:0;
  padding:0;
}
p {
  padding:0;
  font-weight: 400;
  @include rem("line-height", 35);
  @include rem("margin", 0, 0, 20, 0);
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  @include rem("margin", 0, 0, 10, 0);
  font-weight: normal;
}

fieldset {
  border:none;
  margin:0;
  padding:0;
}

button {
  cursor:pointer;
}

a{
  text-decoration: none;
}

.disabled-scroll{
  overflow: hidden !important;
}
