// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 21;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

$green-color: #087350;

$base-dark-color: #75654e !default;
$base-color: #f3d8a6 !default;

$full-width: 100%;
$full-vertical-height: 100vh;

$cubic-bazier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$mobileSize: 670;