// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 21;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

$base-color: #118eee !default;
$base-dark-color: #061526 !default;
$base-border-color-light: #d7e2e6 !default;
$base-border-color-super-light: #e4f0f4 !default;

$full-width: 100%;
$full-vertical-height: 100vh;
$max-with-container: 1240px;
$max-with-content-container: 900px;

$cubic-bazier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$mobileSize: 670;